*, *::before,*::after {
    box-sizing: border-box;
  }

.purchase-background {
    position: fixed;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.purchase-container {
  max-width: calc(100% - 2rem);
      padding: 1.2em ;
      position: fixed;
      height:auto;
      transform: translate(-50%,-50%);
      width: 750px;
      top:50%;
      left: 50%;;
      border-radius: 10px;
      background: white;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  
  .purchase-container h1 {
    font-size: 20px;
    padding: 0.5em 0;
  }

  .purchase-container p {
    line-height: 1.8em;
    font-size: 16px;
    color: hsl(0, 0%, 48%);
  }

  button:hover {
    transition: 0.2s;
    background-color: hsl(176, 72%, 28%);
  }

  .header {
    display: flex;
  }

  .header span {
    padding: 0.5em;
    content:  url('./images/icon-close-modal.svg');
    position: absolute;
    right: 1em;
    cursor: pointer;
  }

  @media (max-width: 375px) {
    .purchase-background {
      position: absolute;
      height: 135%;
    }
    .purchase-container {
        position: absolute;
        transform: translate(-50%,0);
        top: 1rem;
    }
   }